{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(filterForm,{method:'get'}) }}
    {{ form_row(filterForm.fullName) }}
    {{ form_row(filterForm.phone) }}
    {{ form_row(filterForm.email) }}
    <button>Фільтрувати</button>
    {{ form_end(filterForm) }}

    <form method="get">
        <label>Items/page:</label>
        <input type="number" name="itemsPerPage" value="{{ pagination.getItemNumberPerPage }}">
        <button>OK</button>
    </form>

    <table>
        <tr><th>ID</th><th>ПІБ</th><th>Телефон</th><th>Email</th></tr>
        {% for cli in pagination %}
            <tr>
                <td>{{ cli.id }}</td>
                <td>{{ cli.fullName }}</td>
                <td>{{ cli.phone }}</td>
                <td>{{ cli.email }}</td>
            </tr>
        {% endfor %}
    </table>
    {{ knp_pagination_render(pagination) }}
{% endblock %}
