{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(filterForm,{method:'get'}) }}
    {{ form_row(filterForm.rentFrom) }}
    {{ form_row(filterForm.rentTo) }}
    {{ form_row(filterForm.car) }}
    {{ form_row(filterForm.client) }}
    <button>Фільтрувати</button>
    {{ form_end(filterForm) }}

    <form method="get">
        <label>Items/page:</label>
        <input type="number" name="itemsPerPage" value="{{ pagination.getItemNumberPerPage }}">
        <button>OK</button>
    </form>

    <table>
        <tr><th>ID</th><th>Авто</th><th>Клієнт</th><th>З</th><th>До</th></tr>
        {% for r in pagination %}
            <tr>
                <td>{{ r.id }}</td>
                <td>{{ r.car.brand }} {{ r.car.model }}</td>
                <td>{{ r.client.fullName }}</td>
                <td>{{ r.rentFrom|date('Y-m-d') }}</td>
                <td>{{ r.rentTo|date('Y-m-d') }}</td>
            </tr>
        {% endfor %}
    </table>
    {{ knp_pagination_render(pagination) }}
{% endblock %}
