{% extends 'base.html.twig' %}

{% block title %}Rental{% endblock %}

{% block body %}
    <h1>Rental</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rental.id }}</td>
            </tr>
            <tr>
                <th>RentFrom</th>
                <td>{{ rental.rentFrom ? rental.rentFrom|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>RentTo</th>
                <td>{{ rental.rentTo ? rental.rentTo|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_rental_index') }}">back to list</a>

    <a href="{{ path('app_rental_edit', {'id': rental.id}) }}">edit</a>

    {{ include('rental/_delete_form.html.twig') }}
{% endblock %}
