{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(filterForm, {method:'get'}) }}
    {{ form_row(filterForm.name) }}
    <button>Фільтрувати</button>
    {{ form_end(filterForm) }}

    <form method="get">
        <label>Items per page:</label>
        <input type="number" name="itemsPerPage" value="{{ pagination.getItemNumberPerPage }}">
        <button>OK</button>
    </form>

    <table>
        <tr><th>ID</th><th>Назва</th></tr>
        {% for cat in pagination %}
            <tr><td>{{ cat.id }}</td><td>{{ cat.name }}</td></tr>
        {% endfor %}
    </table>

    {{ knp_pagination_render(pagination) }}
{% endblock %}
