{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(filterForm,{method:'get'}) }}
    {{ form_row(filterForm.amount) }}
    {{ form_row(filterForm.paidAt) }}
    {{ form_row(filterForm.method) }}
    {{ form_row(filterForm.rental) }}
    <button>Фільтрувати</button>
    {{ form_end(filterForm) }}

    <form method="get">
        <label>Items/page:</label>
        <input type="number" name="itemsPerPage" value="{{ pagination.getItemNumberPerPage }}">
        <button>OK</button>
    </form>

    <table>
        <tr><th>ID</th><th>Оренда#</th><th>Сума</th><th>Дата</th><th>Метод</th></tr>
        {% for p in pagination %}
            <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.rental.id }}</td>
                <td>{{ p.amount }}</td>
                <td>{{ p.paidAt|date('Y-m-d') }}</td>
                <td>{{ p.method }}</td>
            </tr>
        {% endfor %}
    </table>
    {{ knp_pagination_render(pagination) }}
{% endblock %}
