{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(filterForm, {method:'get'}) }}
    {{ form_row(filterForm.brand) }}
    {{ form_row(filterForm.model) }}
    {{ form_row(filterForm.year) }}
    {{ form_row(filterForm.category) }}
    <button>Фільтрувати</button>
    {{ form_end(filterForm) }}

    <form method="get">
        <label>Items/page:</label>
        <input type="number" name="itemsPerPage" value="{{ pagination.getItemNumberPerPage }}">
        <button>OK</button>
    </form>

    <table>
        <tr><th>ID</th><th>Марка</th><th>Модель</th><th>Рік</th><th>Категорія</th><th>Ціна</th></tr>
        {% for car in pagination %}
            <tr>
                <td>{{ car.id }}</td>
                <td>{{ car.brand }}</td>
                <td>{{ car.model }}</td>
                <td>{{ car.year }}</td>
                <td>{{ car.category.name }}</td>
                <td>{{ car.pricePerDay }}</td>
            </tr>
        {% endfor %}
    </table>

    {{ knp_pagination_render(pagination) }}
{% endblock %}
